
@import url('https://fonts.googleapis.com/css?family=Nova+Slim&display=swap');

body, html {
	line-height: 1.8;
    font-family: 'Roboto', sans-serif;
     color: #555e58;
	 text-transform:capitalize;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	 font-weight: 400;
	 margin:0px;
     padding:0px;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-weight: 400;
    line-height: 1.5em;
}


p {
	font-size: 15px;
	margin: 12px 0 0;
	line-height: 24px;
}



a{
	color: #333;
	font-weight: 400;
}

button:focus{
	box-shadow:none;
	outline:none;
	border:none;
}

button{
	cursor:pointer;
}

ul, ol {
	padding: 0;
	margin:0px;
		list-style: none;
}



a,
a:hover,
a:focus {
    color: #333;
    text-decoration: none;
    transition: all 0.3s;
}



/*=======================================================
  material-icons  copy & paste form site google material-icons
  ==================================================*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MaterialIconsOutlined-Regular.otf') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/*=======================================================
  material-icons  copy & paste form site google material-icons
  ==================================================*/



.wrapper {
	position: relative;
    width:100%;
	overflow:auto;
}





/* ---------------------------------------------------
    SIDEBAR STYLE start
----------------------------------------------------- */



#sidebar {
    position:fixed;
	height:100vh!important;
    top: 0;
    bottom: 0;
    left: 0;
    z-index:11;
    width: 260px;
	overflow:auto;
	transition:all 0.3s ;
    background: #FFFFFF;
    box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}


#sidebar::-webkit-scrollbar,#sidebar ul.components::-webkit-scrollbar{
	width:5px;
	border-radius:10px;
	background-color:#eee;
	display:none;
}
#sidebar::-webkit-scrollbar-thumbs,#sidebar ul.components::-webkit-scrollbar-thumbs{
	width:5px;
	border-radius:10px;
	background-color:#333;
	display:none;
}


#sidebar:hover::-webkit-scrollbar,#sidebar ul.components:hover::-webkit-scrollbar{
	display:block;
}
#sidebar:hover::-webkit-scrollbar-thumbs,#sidebar ul.components:hover::-webkit-scrollbar-thumbs{
	display:block;
}

#sidebar .sidebar-header {
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
    height: 70px;
    position: fixed;
    width: inherit;
    z-index: 99;
}

.sidebar-header h3{
	color:#333;
	font-size:17px;
	margin:0px;
	text-transform:uppercase;
	transition:all 0.5s ease;
	font-weight:600;
}

.sidebar-header h3 img{
	width:45px;
	margin-right:10px;
}

#sidebar ul li{
	padding:2px 7px;
}

#sidebar ul li.active>a{
    color: #333;
    background-color: rgba(200, 200, 200, 0.2);
}

#sidebar ul li a:hover{
    color: #333;
    background-color: rgba(200, 200, 200, 0.2);
}

.dropdown-toggle::after {
    position: absolute;
    right: 10px;
    top: 23px;
}

#sidebar ul li.drodown{
	position:sticky;
}


#sidebar ul.components {
    padding: 20px 0;
    margin-top: 70px;
    
}

#sidebar ul li a {
    padding: 10px;
	line-height: 30px;
	border-radius:5px;
    font-size: 15px;
	position:relative;'
    font-weight: 400;
    display: block;
}

#sidebar ul li a span{
	text-transform:capitalize;
	display:inline-block;
}

#sidebar ul li a i {
    position: relative;
    margin-right: 10px;
    top: 5px;
	color: #555555;
    margin-left: 10px;
}





/* ---------------------------------------------------
   sidebar end
----------------------------------------------------- */




/*=======================================================
   main-content navbar-design start
   ===============================================*/



#content {
	position: relative;
    transition: all 0.3s;
	background-color: #EEEEEE;
}

.top-navbar{
	width:100%;
	z-index:9;
	position:relative;
}


.main-content{
	padding:10px 20px 0px 20px;
	position: relative;
    width: 100%;
}



.navbar{
    background-color: #044681;
    color: #FFFFFF;
}

.navbar-brand {
    color: #FFFFFF;
}

.navbar button{
	background-color:transparent;
	border:none;
}
.navbar button span{
	color:#fff;
}

#sidebarCollapse{
	border-radius:50%;
	width:45px;
	height:45px;
	text-align:center;
	line-height:45px;
	margin-right:20px;
	border:none;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.09);
}

#sidebarCollapse span {
       display: flex;
    align-items: center;
    justify-content: center;
}



.navbar-nav > li.active{
   color: #FFFFFF;
   border-radius:4px;
    background-color: rgba(255, 255,255, 0.1);  
 }

.navbar-nav > li > a {
    color: #FFFFFF;
}


.navbar .notification {
	 position: absolute;
    top: 5px;
    right: 10px;
	display: block;
    font-size: 9px;
    border: 0px;
    font-size: 10px;
    background: #d9534f;
    min-width: 15px;
	 text-align: center;
    padding: 1px 5px;
    height: 15px;
    border-radius: 2px;
    line-height: 14px;
}


 .navbar-nav > li.show .dropdown-menu {
    transform: translate3d(0, 0, 0);
	opacity:1;
	visibility:visible;
    padding: 0;
}

.dropdown-menu li{
    border-bottom: 1px solid #f9f7f7;
}
.dropdown-menu li > a {
    font-size: 13px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 2px;
	font-weight: 400;
    transition: all 150ms linear;
}
.dropdown-menu li > a i{
    margin-right: 10px;
    font-size: 20px;
}

.navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.08);
}


.navbar-nav li a {
    position: relative;
    display: flex;
    padding: 10px 15px!important;
}
.card {
    margin: 10px 0;
}

.card {
    border-radius: 0px!important;
}

.card {
    display: inline-block;
    position: relative;
	border:none!important;
    width: 100%;
    margin:15px 0;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
}

.card-stats .card-header {
    float: left;
    text-align: center;
}

.card .card-header {
    padding: 15px 20px 0;
    z-index: 3;
	background-color:#fff!important;
	border-bottom:none;
}

.card .card-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 16px;
}

.card-stats .card-header span {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}

.icon.icon-warning {
    color: #ff9800;
}

.icon.icon-rose {
    color: #e91e63;
}
.icon.icon-success {
    color: #4caf50;
}
.icon.icon-info {
    color: #00bcd4;
}
.card .card-footer {
    margin: 0 7px 0px;
    padding-top: 10px;
	background-color:#fff;
    border-top: 1px solid #eeeeee;
}

.text-info {
    color: #03A9F4!important;
}

.card-stats .card-content {
    text-align: right;
    padding-top: 10px;
}

.card .card-content {
    padding: 15px 20px;
    position: relative;
}

.card .card-content .category {
    margin-bottom: 0;
}
.card .category:not([class*="text-"]) {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
}

.card .card-title:not(.card-calendar .card-title) {
    margin-top: 0;
    margin-bottom: 5px;
}

.card-stats .card-title {
    margin: 0;
}

.card .card-footer .stats {
    line-height: 22px;
    color: #555555;
    font-size: 15px;
}

.card .card-footer div {
    display: inline-block;
}

.card .card-header-text h4{
    margin-top: 0;
    margin-bottom: 3px;
	font-size:19px;
    font-weight: 400;
	color: #222222;
    text-decoration: none;
	
}

.table > thead > tr > th {
    border-bottom-width: 1px;
    font-size: 16px;
    font-weight: 400;
}


.card .card-content {
    padding: 15px 20px;
    position: relative;
}

.streamline .sl-primary {
    border-left-color: #188ae2;
}

.streamline .sl-item {
    position: relative;
    padding-bottom: 12px;
    border-left: 1px solid #ccc;
}



.streamline .sl-item:before {
    content: '';
    position: absolute;
    left: -6px;
    top: 0;
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
.streamline .sl-primary:before, .streamline .sl-primary:last-child:after {
    background-color: #188ae2;
}


.streamline .sl-danger:before, .streamline .sl-danger:last-child:after {
    background-color: #ff5b5b;
}

.streamline .sl-success {
    border-left-color: #10c469;
}

.streamline .sl-success:before, .streamline .sl-success:last-child:after {
    background-color: #10c469;
}

.streamline .sl-warning {
    border-left-color: #f9c851;
}

.streamline .sl-warning:before, .streamline .sl-warning:last-child:after {
    background-color: #f9c851;
}



.streamline .sl-danger {
    border-left-color: #ff5b5b;
}
.streamline .sl-item .sl-content {
    margin-left: 24px;
}

.streamline .sl-item .text-muted {
    color: inherit;
    opacity: .6;
	font-size:12px;
}

.streamline .sl-item p {
	font-size:14px;
	color:#333;
}


/*=======================================================
   main-content inner design like card end
   ===============================================*/



/*=============================================
  footer design start
  =========================================*/
 
.footer {
    border-top: 1px solid #e7e7e7;
}

footer {
    padding: 10px 0;
	position:relative;
	width:100%;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color: inherit;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
}


footer .copyright {
    padding: 15px;
	font-size:14px;
    margin: 0;
}


/*=============================================
  footer design end
  =========================================*/
  


#sidebar.show-nav,.body-overlay.show-nav{
	transform:translatex(0%);
	opacity:1;
	display:block;
	visibility:visible;
	z-index:15;
}





/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media only screen and (min-width:992px){
	#sidebar.active {
    width:80px;
	height:100%!important;
	position:absolute!important;
	overflow:visible!important;
	top:0!important;
	z-index:666;
	float:left!important;
    bottom: 0!important;
}



#sidebar.active .sidebar-header h3 span {
   display:none;
   transition:all 0.5s ease;
}

#sidebar.active ul li a span{
    display:none;
	transition:all 0.5s ease;
}

#sidebar.active .dropdown-toggle::after {
    display:none;
	transition:all 0.5s ease;
}

#content {
    width: calc(100% - 260px);
    position: relative;
    float: right;
    transition: all 0.3s;
    background-color: #EEEEEE;
    min-height: 100vh;
}  

#content.active {
    width: calc(100% - 80px);
} 

#sidebar.active .menu {
    position: absolute;
    left: 81px;
    background-color: white;
    width: 180px;
    height: auto;
    margin: 5px 0;
    top: 0;
    border: 1px solid #dcd9d9;
    z-index: 4;
}                                                                                                                                                                                                              
}


@media only screen and (min-width:992px){
.dropdown-menu {
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
	transform: translate3d(0, -20px, 0);
    visibility: hidden;
	transition: all 150ms linear;
    display: block;
	min-width:12rem;
	right: 0;
    left: auto;
    opacity: 0;
}
	
}


/*===============small-screen overlay sidebar design media queries==============*/

@media only screen and (max-width:992px){
#sidebar {
    position:fixed;
    top: 0;
    bottom:0;
    z-index: 10;
    width: 260px;
	transform:translatex(-100%);
	transition: all 150ms linear;
	box-shadow:none!important;
}	

.body-overlay{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	visibility:hidden;
	opacity:0;
	z-index:3;
	transition: all 150ms linear;
	background-color:rgba(0,0,0,0.5);
}
}
/*===============small-screen overlay sidebar design media queries==============*/




/* ---------------------------------------------------
    login page
----------------------------------------------------- */

.login_wrapper{

    background: #ebebeb;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;


}
.login_left{ width:calc(100vw - 75vw); background: #023564;  min-height: 75vh;
box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
 border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;}
    .login_left h1{ color: #fff; margin-bottom: 7rem; }
      .login_left img{  margin-bottom: 7rem; }
.login_right{ width:calc(100vw - 70vw); background:#fff; min-height: 75vh; 
box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);

padding: 2rem 2rem 1rem; border-radius: 0px 5px 5px 0px;}
.login_right h2{ text-transform: uppercase;color: rgb(2 53 100); font-weight: bold; }
.login_right p{  }
.login_right .login-logo h2,.login_right .login-logo p{margin: 0;}


.login_right form {
    position: relative;
    width: 100%;
    padding: 0 0rem;
   /* height: inherit;*/
   /* margin-bottom: 1rem;*/
}
.inp-control {
    position: relative;
    width:100%;
}
.login_right .my-input{
    font-size: 1rem;
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    padding: 10px 10px 10px 40px;
    outline: none;
    border: 1px solid #999;
    border-radius: 6px;
}

.login_right .my-input:focus{ border:2px solid rgb(2 53 100);box-shadow: 0 1px 4px -1px rgb(0 0 0 / 15%);}
.login_right .my-input:focus ~ .usr { color: rgb(2 53 100);}
.login_right .my-input:focus ~ .psd { color: rgb(2 53 100);}
.inp-control {
    position: relative;
    margin: 10px 0;
}
.usr,.psd {
    position: absolute;
    top: 17px;
    left: 7px;
    font-size: 1.7rem;
    color: #999;
}
.login_right .login-btn {
    background-color: rgb(2 53 100);
    padding: 5px 32px;
    font-size: 1.5rem;
    margin: 10px 0;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
    color: #fff;
    width: 100%;
   
    
    
}
.login_right .login-btn:disabled{
    opacity: 0.8;
    cursor: not-allowed;
}
.forget_text:hover{
    font-weight: bold;
    text-align: right;
}
/* .login-btn:hover {
    opacity: 1;
} */

@media only screen and (max-width:550px){
  
.login_left { display: none; }
.login_right {
    width: calc(100vw - 19vw);
   
}


}


@media only screen and (min-width:552px) and (max-width:967px){
    .login_left, .login_right{
    width: calc(100vw - 55vw);
   
}



    }


    .dropdown-menu.show {
    display: block;
    visibility: visible;
    opacity: 1;
        padding: 1rem;
        will-change: auto !important;
}
.header-borosil{
    width: 100%;
    display: flex;
    padding: 10px 0 15px;
       background: #f2f2f2;
}
.filter_btn,.filter_btn:active,.filter_btn:focus{ box-shadow: none !important;
    display: flex;
    width: fit-content;}
.filter_btn:hover,.dropdown1.show .filter_btn{ color: rgb(2 53 100) !important;}
.filter_btn::after { display: none !important;}
.filter_btn span{ color: #333 !important;   }
   .dropdown1.show .filter_btn span{color: rgb(2 53 100) !important;}
.no-padding{ padding: 0 !important;}
.dropdown-menu{ width: 100%; }
.input-group-my {
    padding: 20px 0 0;
}
.group1 {
position: relative;
margin-bottom: 45px;
}
.group {
    position: relative;
    margin-bottom: 10px;
    }
.input1 {
font-size: .8rem;
padding: 10px 10px 10px 10px;
display: block;
width: 100%;
border: .1rem solid #ccc;
border-radius: 5px;
height: 35px;
}
.input {
    font-size: .8rem;
    padding: 10px 10px 10px 10px;
    display: block;
    width: 100%;
    border: .1rem solid #ccc;
    border-radius: 5px;
    height: 35px;
    }
select.input1 {
padding-top: 6px;
}
select.input {
    padding-top: 6px;
    }
.input1:hover{ border: .14rem solid rgb(61, 56, 56);}
.input:hover{ border: .14rem solid rgb(61, 56, 56);}
.input1:focus{ border: .14rem solid #0652dd;}
.input:focus{ border: .14rem solid #0652dd;}

.label1 {
color: #9ea1ac;
font-size: 1rem;
font-weight: normal;
position: absolute;
pointer-events: none;
left: 15px;
top: 5px;
transition: 0.2s ease all;
-moz-transition: 0.2s ease all;
-webkit-transition: 0.2s ease all;

}
.label {
    color: #9ea1ac;
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    
    }

.input1:focus ~ .label1, .input1:valid ~ .label1 {   
top: -14px;
font-size: .8rem;
color: #2c3e50;
font-weight: bold;
background-color: #fff;
padding: 3px 6px 1px;}
.input:focus ~ .label, .input:valid ~ .label {   
    top: -14px;
    font-size: .8rem;
    color: #2c3e50;
    font-weight: bold;
    background-color: #fff;
    padding: 3px 6px 1px;}


input:focus,select:focus{ outline: none;}
.has-error {
visibility: hidden;
font-size: 0.6rem;
font-weight: bold;
padding-left: .3rem;
}

.my-filter{ padding: 10px !important; border:none !important; box-shadow: var(--menu-shadow);}
.btn{ font-size: 13px !important;}
.btn-kec {
    color: #fff !important;
    background-color:#023564 !important;
    border-color: #023564 !important;
   
}
.btn-kec:hover {
    color: #fff !important;
    background-color: #144068 !important;
    border-color: #144068 !important;
}
.kec-add-btn {
    display: flex;
    color: var(--text-color) !important;
    font-weight: bold !important;
    outline: none;
    justify-content: center;
    align-items: center;
}.kec-add-btn i{ color:#f15b26 !important; margin-right: 8px;}
.kec-add-btn i:hover{ color: #d84e1b !important;}
.kec-add-btn:hover{ color: var(--text-color) !important;}
.table-hover > tbody > tr:hover {
    --bs-table-accent-bg: #e5d5bc !important; cursor: pointer;
    background:  #e5d5bc;
}
.kec-add-btn:focus,.kec-add-btn:active{outline:none; box-shadow: none !important;}
.header-kec {
    width: 100%;
    display: flex;
    padding: 10px 0 15px;
    background: var(--body-bg);
}


.row > .body-table {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    padding: 1rem;
}
.table-hover .table-dark:hover {
     background-color:#212529; !important;
}
.text-right{ float: right;}
.grouplist{ position: relative; padding-top: 10px; 

}
.grouplist .list-group-item:first-child{ padding-top: 20px;}
.labellist {
    position: absolute;
    pointer-events: none;
    left: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    top: -8px;
    font-size: .9rem;
    color: #2c3e50;
    font-weight: bold;
    background-color: #fff;
    padding: 3px 6px;
}

.p-cursor{
    cursor: pointer;
}
table thead tr {
    text-align: center;
}

table th,
table td {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    white-space: nowrap;
}


